

<div class="top-container" id="saketa">
            <div class="logo">
                <img src="assets/saketa.png" class="saketa"/>
                <div class="head-container">
                    <h1 class="head1">Employee Directory</h1>
                    <p class="head2">The Ultimate People Directory Experience</p>
                </div>
            </div>
            <div class="pic-container">
                <h1 class="head3">Welcome, <span class="name1">Andrew Philips</span></h1>
                <img src="assets/andrew.png" class="user-pic"/>
            </div>
        </div>
       
      
        <app-sidebar></app-sidebar> 
        <app-navbar></app-navbar>