.top-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.logo {
  margin-left: 40px;
  display: flex;
  align-items: flex-end;
}

.saketa {
  margin-top: 10px;
  margin-left: 40px;
  width: 180px;
  height: 50px;
}

.head-container {
  margin-left: 20px;
}

.app-head {
  padding-left: 10px;
  color: #2DBAFD;
  font-weight: 300;
  margin: 0px;
  font-size: 36px;
}

.app-lines {
  padding-left: 10px;
  margin: 0px;
  font-size: 19px;
  font-weight: 400;
  color: #929292;
}

.welcome {
  display: flex;
  padding-right: 80px;
  color: #2DBAFD;
  font-size: 28px;
  margin: 10px;
  font-weight: 300;
}

.sp-name {
  font-size: 28px;
  color: #201e1e;
  margin-right: -70px;
  font-weight: 300;
  margin-left: 15px;
}

.user-pic {
  margin-right: 60px;
  width: 55px;
  height: 55px;

}

.pic-container {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
}

.hr-line {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 100%;
  margin-top: 18px;
  margin-bottom: 0px;
}