  <div class="alpha-navbar" #alphaNavbar>
    <button class="alpha-btn user-icon-btn" ><i class="fa-solid fa-user" (click)="showAllEmployees()"></i></button>
    <button
      *ngFor="let character of characters"
      class="alpha-btn"
      [id]="'char-' + character.toLowerCase()"
      [class.active]="selectedCharacter === character"
      (click)="selectCharacter(character)">
      {{ character }}
    </button>
  </div>
  <div class="search-filter-add-container">
    <div class="left-search-cont">
      <label for="searchInput" class="label-el">Search</label>
      <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass search-logo"></i>
        <input class="search-area" type="search" id="searchInput" name="input" placeholder="Enter any Keyword" (input)="onSearch($event)"/>
      </div>
      <button class="clear-btn" id="clearAllBtn" (click)="onClearAll()">Clear All</button>
      <label for="search-input" class="label-el">Filter by</label>
      <select class="select-menu" id="filterBy">
        <option value="preferredName" selected>PreferredName</option>
        <option value="designation">Designation</option>
        <option value="department">Department</option>
      </select>
    </div>
    <button type="button" routerLink="/add" class="add-emp-btn" (click)="showEmployeeForm()">Add Employee</button>
  </div>
  <p class="note">
    Note: <span class="note-desc">Please use the advanced filter option to refine your results.</span>
  </p>

<app-employee-form *ngIf="isFormVisible" [isFormVisible]="isFormVisible" (addEmp)="addEmployee($event)"(hideFormEvent)="hideEmployeeForm()"></app-employee-form>

