.add-employee-popup {
    position: fixed; 
    z-index: 999; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;  
  }

  .form-popup { 
    position: relative;
    left: 40%;
    width: 40%;
     background-color: rgb(0,0,0);  
     background-color: rgba(0,0,0,0.4);     
  }

  .form-container {
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 600px;
    padding: 20px;
    padding-top: 10px;
    background-color: white; 
  }

  .heading-cancel-cont{
    font-size: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

  .form-container .btn {
    border: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
    margin: 10px 15px;
    top: 0px;
    opacity: 0.8;
    border-radius: 50%;
    position: absolute;
    right: 0px;

  }

.add-btn,.edit-btn{
    background-color: #00B1FC;
    border-radius: 15px;
    outline: none;
    border-width: 0px;
    color: white;
    width: 100px;
    height: 30px;
    top: -80px;
    position: relative;
}

.form-container .add-emp-head,.edit-emp-head{
    margin-top: 105px;
    font-size: 30px;
}
  
  .form-container .btn:hover{
    opacity: 1;
  }

  .input-label{
    font-family: 'Roboto';
    padding-left: 50px;
    padding-top: 5px;
    /* font-size: 22px; */
    color: black;
  }

  .inp-warning-div{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5px;
    /* padding-bottom: 0px;
    padding: 12px; */
  }

  .inp-warning-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 4px;
  }

  .inp-container{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
  }

  .inp-container .fa-circle-exclamation{
    color: red;
    margin-top: 6px;
    margin-right: -10px;
    /* visibility: hidden; */
  }

  .inp-container span{
    color: red;
  }

  .inp-container .fa-circle-check{
    color: rgb(70, 204, 70);
    margin-top: 6px;
    margin-right: -10px;
  }
  
  .warning-emp{
    position:absolute;
    font-size: 10px;
    color: red; 
    margin: 0px;
    margin-left: 200px;
    margin-top: 50px;
  }

  .warning-emp.success{
    visibility: hidden;
  }

  .warning{
    z-index: 1;
    font-size: 12px;
    color: red;
    align-self: flex-end;
    margin: 0px;
  }

  .input-box{
    border: 1px solid #373b37;
    right: 20px;
    position: absolute;
    border-radius: 5px;
    width: 150px;
    height: 30px;
  }

  .input-box:focus{
    outline-color: #777;
    outline: 1;
  }

  small{
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }

.input-box.error small{
    visibility: visible;
}

  .inp-container p{
    visibility: hidden;
  }

  .inp-container i{
    top:10%;
    left: 103%;
    /* position: absolute; */
  }

  .btn-container{
    margin: 100px;
    margin-right: 240px;
    margin-bottom: 10px;
    left: 20px;
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }

  .error-message{
    color: red;
    margin-top: 33px;
    margin-left: 180px;
    font-size: 11px;
    position: absolute;
  }

  .error-message-btn{
    color: red;
    margin-top: -49px;
    right: 140px;
    font-size: 11px;
    position: absolute;
  }
