<div class="add-employee-popup" id="popupForm" >
    <div class="form-popup" >
      <form class="form-container" id="myPopupForm">
        <div class="heading-cancel-cont">
            <h5 class="add-emp-head">Add Employee</h5>
            <button type="button" class="btn" (click)="closeForm()">&times;</button>
        </div>
                      
        <div class="inp-warning-div">
            <div class="inp-container">
                <label for="firstName" class="input-label">First name <span id="req" >*</span></label>
                <input type="text" id="firstName" class="input-box" placeholder="Enter First Name" onkeyup="validateFname()" name="firstName" >
                <i class="fa-solid fa-circle-check" id="success" ></i>
                <i class="fa-sharp fa-solid fa-circle-exclamation" id="error" ></i>               
            </div>
            <p class="warning-emp" id="warningTextFname"></p>   
        </div>


        <div class="inp-warning-div">
            <div class="inp-container">
                <label for="lastName" class="input-label">Last name<span id="req" >*</span></label>
                <input type="text" id="lastName" class="input-box" placeholder="Enter Last Name" onkeyup="validateLname()" name="lastName" >
                <i class="fa-solid fa-circle-check" id="success1" ></i>
                <i class="fa-sharp fa-solid fa-circle-exclamation" id="error1" ></i>
            </div>
            <p class="warning-emp" id="warningTextLname"></p>
        </div>


        <div class="inp-warning-div">
            <div class="inp-container">
                <label for="designation" class="input-label">Designation</label>
                <select id="designation" class="input-box">
                    <option value="Bi Developer" id="selectedOption">Bi Developer</option>
                    <option value="Business Analyst" id="selectedOption">Business Analyst</option>
                    <option value=".Net Development Lead" id="selectedOption">.Net Development Lead</option>
                    <option value="Recruiting Expert" id="selectedOption">Recruiting Expert</option>
                    <option value="SharePoint Practice Head" id="selectedOption">SharePoint Practice Head</option>
                </select>
            </div>
            <p class="warning-emp" id="warningTextDesg"></p>
        </div>

        <div class="inp-warning-div">
            <div class="inp-container">
                <label for="department" class="input-label">Department</label>
                <select id="department" class="input-box">
                    <option value="Human Resources">HUMAN RESOURCES</option>
                    <option value="IT">IT</option>                          
                    <option value="MD">MD</option>
                    <option value="SALES">SALES</option>
                </select>
            </div>
            <p class="warning-emp" id="warningTextDept"></p>
        </div>

        <div class="inp-warning-div">
            <div class="inp-container">
                <label for="mobileNo" class="input-label">Mobile<span id="req" >*</span></label>
                <input type="text" id="mobileNo" class="input-box" placeholder="Enter Mobile Number" onkeyup="validatePhone()" name="mobileNo" maxlength="13">
                <i class="fa-solid fa-circle-check" id="success2" ></i>
                <i class="fa-sharp fa-solid fa-circle-exclamation" id="error2" ></i>
            </div>
            <p class="warning-emp" id="warningTextMob"></p>
        </div>


        <div class="inp-warning-div">
            <div class="inp-container">
                <label for="mailId" class="input-label">Mail <span id="req">*</span></label>
                <input type="email" id="mailId" class="input-box" placeholder="Enter Mail Id" onkeyup="validateMail()" name="mailId">
                <i class="fa-solid fa-circle-check" id="success3" ></i>
                <i class="fa-sharp fa-solid fa-circle-exclamation" id="error3" ></i>
               
            </div>
            <p class="warning-emp" id="warningTextMail"></p>
            
        </div>

        <div class="inp-warning-div">
            <div class="inp-container">
                <label for="location" class="input-label">Location</label>
                <select id="location" class="input-box">
                    <option value="India">India</option>
                    <option value="Seattle">Seattle</option>
                </select>
            </div>
            <p class="warning-emp" id="warningTextLoc"></p>
        </div>

        <div class="inp-warning-div">
            <div class="inp-container">
                <label for="skypeId" class="input-label">skype Id<span id="req">*</span></label>
                <input type="text" id="skypeId" class="input-box" placeholder="Enter skype Id" onkeyup="validateSkype()" name="skypeId">
                <i class="fa-solid fa-circle-check" id="success4" ></i>
                <i class="fa-sharp fa-solid fa-circle-exclamation" id="error4" ></i>
                
            </div>
            <p class="warning-emp" id="warningTextSKyp"></p>
        </div>

        <div class="btn-container">
            <button type="button" name="add-btn" class="add-btn" id="onAddEmpBtn" (click)="addEmployee(employees)">Add</button>  
        </div>
      </form>
    </div>
</div>



