<div class="add-employee-popup" id="popupForm">
    <div class="form-popup">
        <form class="form-container" id="myPopupForm" [formGroup]="formGroup">
        <div class="heading-cancel-cont">
          <h5 class="add-emp-head">Add Employee</h5>
          <!-- <h5 class="edit-emp-head">Edit Employee</h5> -->
          <button type="button" class="btn" (click)="hideForm()">&times;</button>
        </div>
                      
        <div class="inp-warning-div" [ngClass]="validateFname()">
            <div class="inp-container">
                <label for="firstName" class="input-label">First name <span id="req" #firstName>*</span></label>
                <input type="text" id="firstName" class="input-box" placeholder="Enter First Name" formControlName="firstname">        
              </div>
        </div>

        <div class="inp-warning-div" [ngClass]="validateLname()">
            <div class="inp-container">
                <label for="lastName" class="input-label">Last name<span id="req" #lastName>*</span></label>
                <input type="text" id="lastName" class="input-box" placeholder="Enter Last Name" formControlName="lastname">
            </div>
        </div>

        <div class="inp-warning-div">
            <div class="inp-container">
              <label for="designation" class="input-label">Designation</label>
              <select id="designation" class="input-box" formControlName="designation">
                <option value="Bi Developer" selected>Bi Developer</option>
                <option value="Business Analyst">Business Analyst</option>
                <option value=".Net Development Lead">.Net Development Lead</option>
                <option value="Recruiting Expert">Recruiting Expert</option>
                <option value="SharePoint Practice Head">SharePoint Practice Head</option>
              </select>
            </div>
          </div>
          

        <div class="inp-warning-div">
            <div class="inp-container">
                <label for="department" class="input-label">Department</label>
                <select id="department" class="input-box" formControlName="department">
                    <option value="Human Resources" selected>HUMAN RESOURCES</option>
                    <option value="IT">IT</option>                          
                    <option value="MD">MD</option>
                    <option value="SALES">SALES</option>
                </select>
            </div>
        </div>

        <div class="inp-warning-div">
            <div class="inp-container">
                <label for="mobileNo" class="input-label">Mobile<span id="req" #mobile>*</span></label>
                <input type="text" id="mobileNo" class="input-box" placeholder="Enter Mobile Number" maxlength="13" formControlName="mobile">
            </div>
        </div>


        <div class="inp-warning-div">
            <div class="inp-container">
                <label for="mailId" class="input-label">Mail <span id="req" #mail>*</span></label>
                <input type="email" id="mailId" class="input-box" placeholder="Enter Mail Id"  formControlName="mailId">
            </div>        
        </div>

        <div class="inp-warning-div">
            <div class="inp-container">
                <label for="location" class="input-label" >Location</label>
                <select id="location" class="input-box" formControlName="location" >
                    <option value="India">India</option>
                    <option value="Seattle">Seattle</option>
                </select>
            </div>
        </div>

        <div class="inp-warning-div">
            <div class="inp-container">
                <label for="skypeId" class="input-label">skype Id<span id="req" #skype>*</span></label>
                <input type="text" id="skypeId" class="input-box" placeholder="Enter skype Id" formControlName="skypeId">                
            </div>
        </div>
        <div class="btn-container">
            <button *ngIf="!editMode" type="button" name="add-btn" class="add-btn" id="onAddEmpBtn" (click)="addEmployee()">Add</button>
            <button *ngIf="editMode" type="button" name="edit-btn" class="edit-btn" id="onEditEmpBtn" (click)="updateEmployee()">Update</button>
          </div>
      </form>
    </div>
</div>



