    <!-- <div id="empCardCont" class="cards">
       <app-employee-card *ngFor="let employee of employees" [employee]="employee"></app-employee-card>
  </div> -->
  <div id="empCardCont" class="cards">
    <ng-container *ngIf="employees.length > 0; else noEmployeesBlock">
      <app-employee-card *ngFor="let employee of employees" [employee]="employee"></app-employee-card>
    </ng-container>
  </div>
  
  <ng-template #noEmployeesBlock>
    <p>{{ noEmployeesMessageValue }}</p>
  </ng-template>
  
  