<div class="sidebar">
    <div class="navbar" id="departments">
        <p class="nav-heading">Departments</p>
        <div>
            <a href="" class="nav-element" id="it">IT</a> <span class="nav-element" id="itDeptCount"></span>
        </div>
        <div>
            <a href="" class="nav-element" id="humanResource">Human Resources</a> <span class="nav-element" id="hrDeptCount"></span>
        </div>
        <div>
            <a href="" class="nav-element" id="mdDept">MD</a> <span class="nav-element" id="mdDeptCount"></span>
        </div>
        <div>
            <a href="" class="nav-element" id="salesDept">Sales</a> <span class="nav-element" id="salesDeptCount"></span>
        </div>
    </div>
    <div class="navbar" id="offices">
        <p class="nav-heading">Offices</p>
        <div>
        <a href="" class="nav-element">Seattle</a><span class="nav-element" id="seaCount"></span>
    </div>
    <div>
        <a href="" class="nav-element">India</a><span class="nav-element" id="indCount"></span>
    </div>
    </div>
    <div class="navbar" id="jobTitles">
        <p class="nav-heading">Job Titles</p>
        <div>
            <a href="" class="nav-element">SharePoint Practice Head</a><span class="nav-element" id="sharepointCount"></span>
        </div>
        <div>
        <a href="" class="nav-element">.Net Development Lead</a><span class="nav-element" id=".netCount"></span>
        </div>
        <div>
        <a href="" class="nav-element">Recruiting Expert</a><span class="nav-element" id="recruitingCount"></span>
        </div>  
        <div>
        <a href="" class="nav-element">Bi Developer</a><span class="nav-element" id="biDeveloperCount"></span>
        </div> 
        <div>
        <a href="" class="nav-element">Business Analyst</a><span class="nav-element" id="businessAnalystCount"></span>
        </div> 
    </div>
</div>


