<div class="user-card">
  <img class="user-photo" src="assets/profile-pic.jpg">
  <div class="user-descr">
    <p class="user-name">{{ employee.preferredName || employee.firstname + ' ' + employee.lastname }} </p>
    <p class="user-designation">{{ employee.designation }}</p>
    <p class="user-dept">{{ employee.department }}</p>
    <p> </p>
    <div class="social-icons">
      <i class="fa-solid fa-square-phone social-icon"></i>
      <i class="fa-solid fa-envelope social-icon"></i>
      <i class="fa-solid fa-comment social-icon"></i>
      <i class="fa-solid fa-star social-icon"></i>
      <i class="fa-solid fa-heart social-icon"></i>
    </div>
    <i class="fa-solid fa-pen-to-square edit-icon" (click)="openEditModal(employee)"></i>
    <i class="far fa-trash-alt delete-icon" (click)="openDeleteConfirmationModal()"></i>
  </div>
</div>