<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Employee</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this employee?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="confirmDelete()">Delete</button>
    <button type="button" class="btn btn-outline-dark" (click)="cancelDelete()">Cancel</button>
  </div>
  
  