<div class="user-card" >
  <img class="user-photo" src="assets/profile-pic.jpg">
  <div class="user-descr">
    <p class="user-name">{{ employee.preferredName || employee.firstname + ' ' + employee.lastname }} </p>
    <p class="user-designation">{{ employee.designation }}</p>
    <p class="user-dept">{{ employee.department }}</p>
    <p> </p>
    <div class="social-icons">
      <i class="fa-solid fa-square-phone social-icon"></i>
      <i class="fa-solid fa-envelope social-icon"></i>
      <i class="fa-solid fa-comment social-icon"></i>
      <i class="fa-solid fa-star social-icon"></i>
      <i class="fa-solid fa-heart social-icon"></i>
    </div>
    <i class="fa-solid fa-pen-to-square edit-icon" (click)="showEmployeeForm(employee)"></i>
    <i class="far fa-trash-alt delete-icon" (click)="deleteEmployee(employee)"></i>
  </div>
  <div *ngIf="isConfirmationVisible" class="confirmation-popup">
    <p>Are you sure you want to delete this employee?</p>
    <button class="confirm-button" (click)="confirmDelete()">Delete</button>
    <button class="cancel-button" (click)="cancelDelete()">Cancel</button>
  </div>
</div>
<app-employee-form *ngIf="isFormVisible" [isFormVisible]="isFormVisible" [selectedEmployee]="selectedEmployee" [editMode]="editMode" (hideFormEvent)="hideForm()"></app-employee-form>